<table class="table-custom">
  <thead>
    <tr>
      <th scope="col" class="col-file">File</th>
      <th scope="col" class="col-name">Name</th>
      <th scope="col" class="col-description">Description</th>
      <th scope="col" class="col-valid">Valid</th>
      <th scope="col" class="col-remove"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let r of rows; trackBy: trackByName"
      [class.invalid-row]="!r.valid"
    >
      <td class="col-file">
        <div class="file">
          <img
            class="icon-fileuploaded"
            src="assets/icons/icon_fileuploaded.svg"
            alt="File"
            width="16"
            height="16"
          />
          <span class="file-name">{{ r.fileName }}</span>
        </div>
      </td>
      <td class="col-name">
        <div class="name">{{ r.title }}</div>
      </td>
      <td class="col-description">
        <div class="description">{{ r.description }}</div>
      </td>
      <td class="col-valid">
        <div class="badge-item">
          <span
            class="badge"
            [ngClass]="r.valid ? 'badge-valid' : 'badge-invalid'"
          >
            {{ r.valid ? 'Valid' : 'Not valid' }}
          </span>
        </div>
      </td>
      <td class="col-remove">
        <button class="btn-icon" (click)="onDelete(r)" aria-label="Delete file">
          <img
            class="icon-remove"
            src="assets/icons/remove.svg"
            alt="Remove"
            width="16"
            height="16"
          />
        </button>
      </td>
    </tr>
  </tbody>
</table>
